### Reading In Files

import pandas as pd

In [ ]:
# https://www.youtube.com/playlist?list=PLUaB-1hjhk8GZOuylZqLz-Qt9RIdZZMBE
# https://www.youtube.com/watch?v=CmorAWRsCAw&list=PLeo1K3hjS3uuASpe-1LjfG5f14Bnozjwy --> this is an older video, and some 
#methods might be outdated, but the concepts and practice problems are still relevant

import pandas as pd

In [3]:
data = pd.read_csv(r"C:\Users\Xi Chen\Documents\GitHub\Journey-to-AI-Mastery\Data Analysis Libraries\Pandas - Data Cleaning\Data\1. Importing Data.csv")
data

             Country                               Region
0       Afghanistan         ASIA (EX. NEAR EAST)
1           Albania   EASTERN EUROPE
2           Algeria   NORTHERN AFRICA
3    American Samoa   OCEANIA
4           Andorra   WESTERN EUROPE
..               ...                                  ...
222       West Bank   NEAR EAST
223  Western Sahara   NORTHERN AFRICA
224           Yemen   NEAR EAST
225          Zambia   SUB-SAHARAN AFRICA
226        Zimbabwe   SUB-SAHARAN AFRICA

[227 rows x 2 columns]

In [5]:
pd.set_option('display.max_columns', 220)