### 1. Intro To Pandas

Importing Pandas

In [2]:
import pandas as pd

Reading in Data From CSV Files

In [3]:
data = pd.read_csv("Data/Countries List.csv", header= None)
data

                     0         1        2
0                 name  Acronym    Region
1          Afghanistan       AFG     Asia
2        Åland Islands       ALA   Europe
3              Albania       ALB   Europe
4              Algeria       DZA   Africa
..                 ...       ...      ...
245  Wallis and Futuna       WLF  Oceania
246     Western Sahara       ESH   Africa
247              Yemen       YEM     Asia
248             Zambia       ZMB   Africa
249           Zimbabwe       ZWE   Africa

[250 rows x 3 columns]